body {
    background: url('../img/bg.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: "Karla", "lucida grande", sans-serif;
    color: white;
}

#container {
    background: transparent;
}

#backToTop {
    position: fixed;
    bottom: 5%;
    right: 3%;
    color: black;
    z-index: 100;
}

nav {
    background-color: darkseagreen;
}

h1, h2, h3 {
    text-shadow: 2px 2px 2px black;
}

p {
    text-indent: 1.5em;
    text-shadow: 1px 1px 2px grey;
}

img {
    margin: 5px;
}

.well {
    background: rgba(43, 188, 143, .7);
    border-style: ridge;
}

.navbar-nav {
    font-size: large;
}

.navbar-nav a {
    color: darkgreen;
}

.navbar-brand {
    color: black;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
    padding-left: 10px;
    color: black;
    font-size: xx-large;
}