body {
    background: url('../img/bg.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: "Karla", "lucida grande", sans-serif;
    color: white;
}

#container {
    background: transparent;
}

nav {
    background-color: darkseagreen;
}

h1 {
    color: black;
    text-shadow: 1px 1px white, -1px -1px white;
    padding-left: 10px;
}
p {
    text-indent: 1.5em;
}

img {
    margin: 5px;
}
.well {
    background: rgba(43, 188, 143, .7);
    border-style: ridge;
}

.navbar {
    font-size: large;
}

.navbar a {
    color: darkgreen;
}